<h2>Create an event</h2>
<form action="/events/create" method="post">
  <p>
    Name: <INPUT type="text" name="organizer_name" value=<%= @event.organizer_name %>><BR>
    Email: <INPUT type="text" name="organizer_email" value=<%= @event.organizer_email %>><BR>
    Event Title: <INPUT type="text" name="title" value=<%= @event.title %>><BR>
    Date: <INPUT type="datetime" name=date value=<%= @event.date %>><BR>
    <INPUT type="submit" value="Submit =)">
  </p>
</form>
