<h2>Create an event</h2>
<form action="/events/create" method="post">
  <p>
    Name: <INPUT type="text" name="organizer_name"><BR>
    Email: <INPUT type="text" name="organizer_email"><BR>
    Event Title: <INPUT type="text" name="title"><BR>
    Date: <INPUT type="datetime" name=date><BR>
    <INPUT type="submit" value="Submit =)">
  </p>
</form>
